@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
.welcome-text {
  font-family: "Merienda";
}
.main-heading-text {
  font-family: "Merienda";
}
/* .banner-part{
    font-family: Josefin Sans;
} */
.area {
  background-color: #1badbd;
}
.products {
  background-color: #95ebf24a;
}
.highlighted-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/commitment__bgIimage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}
.bg-for-trans {
  background-color: rgba(255, 255, 255, 0.442);
}

.highlighted-box {
  box-shadow: 8px 8px 32px 7px #343636;
}
.sub-heading-text {
  font-family: "Merienda", serif;
}
