@tailwind base;
@tailwind components;
@tailwind utilities;
.main-container{
    background :linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/bg-1.jpg) no-repeat center ;
    background-size: cover;    
}
.aboust-us-main{
    background :linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/bg-2.jpg) no-repeat center ;
    background-size: cover;    
}
.key-box{
    box-shadow: 8px 8px 12px 1px #1e5359;
     @apply bg-white w-80 p-4 flex flex-col gap-3 rounded-lg;

    p:first-child{
        @apply text-base md:text-2xl mt-3 font-semibold !leading-9
    }
    p:last-child{
       @apply text-base md:text-xl mt-3 !leading-9;
    }
  }
  .key-box:hover{
    /* box-shadow: 8px 8px 12px 1px gray; */
    @apply animate-jump animate-duration-1000
    /* transform: translate3d(0px, -11px, 0px); */
}
.products-tool{
	background-color: rgba(2555, 2555, 255, 0.9);
	box-shadow: 8px 8px 12px 1px #c9e2e5;
	@apply  w-40 p-4 rounded-lg flex flex-col items-center justify-center gap-4;

	>p{
		@apply text-xl
	}
	.product-name{
		@apply  md:text-xl !leading-9 text-center
	}

}


  @-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/
.area {
    @apply w-full h-full absolute z-[-1] left-0 top-0;
}

/*
-- End BackGround Animation 
*/